$brand-color-blue-gradiant: linear-gradient(to right, #0054c6, #00a3ff);
$dark-100: #1a191e ;
$dark-90: #09090b;
$dark-80: #151b26;
$dark-20: #a3a3a3;

$message: #2962ff;
$success: #0bb07b;
$warning: #ffce52;
$error: #f03f3d;
$white: #FEFBFB;
$bg: #06090F;
$information: #e0e0e0;
$bg2: rgba(9, 14, 24, 1);

